@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    position: relative;
    width: 100%;
    height: 2000px;
    background-color: aqua;
}

header {
    width: 100%;
    height: 90px;
    background: linear-gradient(89.8deg, #BD0034 0.4%, #BD0034 20.96%, #A20030 34.98%, #7F002B 50.03%, #6E0028 66.64%, #580025 89.99%);
}

header h1 {
    width: 30%;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    color: #FFf;
    top: 20px;
    left: 10px;
    font-size: 40px;
    display: flex;
    float: left;
}


.nav {
    width: 50%;
    height: 40px;
    position: relative;
    display: flex;
    left: 180px;
    top: 25px;
    margin: auto;
    justify-content: space-around;
    text-align: center;
    float: left;
}
.nav li{
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    font-style:normal;
    font-size: 20px;
    display: inline-block;
    margin: 10px;
    margin-left: 20px;
}

.nav a {
    text-decoration: none;
    color:#FFf;
}

.linha {
    border: 1px solid #FC4308;
}

.fast {
    position: relative;
    width: 6%;
    display: flex;
    float: left;
    height: 30px;
    top: 30px;
    left: 150px;
    justify-content: space-between;
}

.fast i {
    color: #fff;
    cursor: pointer;
}

.fast i:hover {
    color: #e93a00;
}

section {
    width: 100%;
    height: 832px;
    background: linear-gradient(89.8deg, #BD0034 0.4%, #BD0034 20.96%, #A20030 34.98%, #7F002B 50.03%, #6E0028 66.64%, #580025 89.99%);
}

.container {
    position: relative;
    background-size: cover;
    width: 39.2%;
    background: url(./assets/Rosania.png);
    background-size: cover;
    height: 81.1%;
    display: flex;
    float: left;
    left: 760px;
    top: -360px;
}

.santos {
    position: relative;
    width: 40%;
    box-sizing: border-box;
    height: 400px;
    top: 200px;
    left: 90px;
}

#h1 {
    position: relative;
    font-size: 45px;
    width: 100%;
    height: 90px;
    display: flex;
    clear: left;
    color: #FC4308;
    font-family: 'Montserrat', sans-serif;
    font-style:normal;
}

#p {
    position: relative;
    width: 100%;
    height: 120px;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-style:normal; 
    font-size: 20px;
}

.elegancia {
    width: 100%;
    height: 750px;
    background: linear-gradient(180deg, #580025 0%, #270010 100%);
}

.eleg h1{
    position: relative;
    width: 100%;
    height: 30px;
    margin: auto;
    left: -460px;
    color: #FC4308;
    font-family: 'Montserrat', sans-serif;
    font-style:normal;
    font-size: 55px;
    top: 80px;
}

.ele {
    position: relative;
    width: 24%;
    height: 390px;
    top: 150px;
    left: -520px;
    display: flex;
    float: left;
    border: 2px solid #fc4308;
    border-radius: 3px;
    cursor: pointer;
    background: url(./assets/Elegante1.jpg);
    background-size: cover;
    z-index: 1;
}

.ele1 {
    position: relative;
    width: 24%;
    height: 390px;
    top: 150px;
    left: -510px;
    display: flex;
    float: left;
    border: 2px solid #fc4308;
    border-radius: 3px;
    cursor: pointer;
   background: url(./assets/Elegante3.jpg);
   background-size: cover;
   z-index: 2;
}

.ele3 {
    position: relative;
    width: 24%;
    height: 390px;
    top: -240px;
    left: 675px;
    display: flex;
    float: left;
    border-radius: 3px;
    background: url(./assets/Elegante4.jpg);
    background-size: cover;
    z-index: 3;
    cursor: pointer;
    border: 2px solid #fc4308;
}
.ele4 {
    position: relative;
    width: 24%;
    height: 390px;
    top: -240px;
    left: 685px;
    display: flex;
    float: left;
    border: 2px solid #fc4308;
    border-radius: 3px;
    cursor: pointer;
    background: url(./assets/Elegante2.jpg);
    background-size: cover;
    z-index: 4;
}

.valores {
    position: relative;
    width: 100%;
    height: 90px;
    top: 545px;
}

#ele {
    position: relative;
    width: 20%;
    height: 70px;
    left: 20px;
}

#ele h4 {
    position: relative;
    width:100%;
    height: 0px;
    color:#fc4308;
    top:-770px;
    font-family: 'Montserrat', sans-serif;
    font-style:normal;
    font-size: 19px;
    margin-top: 8px;
}

#ele p {
    position: relative;
    width:100%;
    height: 0px;
    color:#fc4308;
    top:-750px;
    font-family: Arial, Helvetica, sans-serif;
    font-style:normal;
    font-size: 18px;
    margin-top: 10px;
}

#ele1 {
    position: relative;
    width: 20%;
    height: 70px;
    left: 355px;
    top: -78px;
}
#ele1 h4 {
    position: relative;
    width:100%;
    height: 0px;
    color:#fc4308;
    top: -695px;
    font-family: 'Montserrat', sans-serif;
    font-style:normal;
    background-color: #A20030;
    font-size: 19px;
    margin-top: 8px;
}

#ele1 p {
    position: relative;
    width:100%;
    height: 0px;
    color:#fc4308;
    top:-675px;
    font-family: Arial, Helvetica, sans-serif;
    font-style:normal;
    font-size: 18px;
    margin-top: 10px;
}

#ele3 {
    position: relative;
    width: 20%;
    height: 70px;
    left: 698px;
    top: -156px;
}

#ele3 h4 {
    position: relative;
    width:100%;
    height: 0px;
    color:#fc4308;
    top: -618px;
    font-family: 'Montserrat', sans-serif;
    font-style:normal;
    background-color: #A20030;
    font-size: 19px;
    margin-top: 8px;
}

#ele3 p {
    position: relative;
    width:100%;
    height: 0px;
    color:#fc4308;
    top:-598px;
    font-family: Arial, Helvetica, sans-serif;
    font-style:normal;
    font-size: 18px;
    margin-top: 10px;
}

#ele4 {
    position: relative;
    width: 20%;
    height: 70px;
    left: 1025px;
    top: -234px;
}

#ele4 h4 {
    position: relative;
    width:100%;
    height: 0px;
    color:#fc4308;
    top: -540px;
    font-family: 'Montserrat', sans-serif;
    font-style:normal;
    background-color: #A20030;
    font-size: 19px;
    margin-top: 8px;
}

#ele4 p {
    position: relative;
    width:100%;
    height: 0px;
    color:#fc4308;
    top:-520px;
    font-family: Arial, Helvetica, sans-serif;
    font-style:normal;
    font-size: 18px;
    margin-top: 10px;
}

#ele5 {
    position: relative;
    width: 8%;
    height: 25px;
    left: -10px;
    top: -200px;
    color:#fc4308;
    background-color: #ffffff00;
    border: 2px solid #fc4308;
    border-radius: 10px;
    cursor: pointer;
}

#ele5:hover {
    color:#f03e03;
    cursor: pointer;
}

.container2 {
    position: relative;
    width: 100%;
    height: 480px;
    background: linear-gradient(89.88deg, #BD0034 0.15%, #580025 99.94%);
}

#gabriela {
    position: relative;
    width: 35%;
    height: 456.2px;
    left: 805px;
    top: 10px;
    background: url(./assets/Gabriela.png);
    background-size: cover;
}

.gab {
    position: relative;
    width: 40%;
    box-sizing: border-box;
    height: 400px;
    top: -200px;
    left: 90px;
    background-color: #FFf;
}

#h11 {
    position: relative;
    font-size: 60px;
    width: 40%;
    height: 90px;
    display: flex;
    clear: left;
    top: -325px;
    left: 190px;
    color: #FC4308;
    font-family: 'Montserrat', sans-serif;
    font-style:normal;
}

#pp {
    position: relative;
    width: 40%;
    height: 120px;
    color: #ffffff;
    top: -330px;
    left: 250px;
    font-family: 'Montserrat', sans-serif;
    font-style:normal; 
    font-size: 30px;
}

#gab5 {
    position: relative;
    width: 9%;
    height: 40px;
    left: 320px;
    top: -390px;
    color:#fc4308;
    background-color: #ffffff00;
    border: 2px solid #fc4308;
    border-radius: 10px;
    cursor: pointer;
}

#gab5:hover {
    color:#f03e03;
    cursor: pointer;
}



