@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    position: relative;
    width: 100%;
    height: 700px;
    background-color: aqua;
}

header {
    width: 100%;
    height: 90px;
    background: linear-gradient(89.8deg, #BD0034 0.4%, #BD0034 20.96%, #A20030 34.98%, #7F002B 50.03%, #6E0028 66.64%, #580025 89.99%);
}

header h1 {
    width: 20%;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    color: #FF3E00;
    top: 20px;
    left: 10px;
    font-size: 40px;
    display: flex;
    float: left;
}

.nav {
    width: 50%;
    height: 40px;
    position: relative;
    display: flex;
    left: 100px;
    top: 25px;
    margin: auto;
    justify-content: space-around;
    text-align: center;
    float: left;
}
.nav li{
    list-style: none;
    display: inline-block;
    margin: 10px;
    margin-left: 70px;
}

.nav a {
    text-decoration: none;
    color:#FF3E00;
}

.linha {
    border: 1px solid #FC4308;
}